body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

.contenedor {
    font-size: 5px;
    width: 40em;
    height: 40em;
    position: relative;
}

.sol {
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 3em white;
}

.tierra, .luna {
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}

.marte {
    position: absolute;
    border-style: solid;
    border-color: darkcyan transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}

.venus {
    position: absolute;
    border-style: solid;
    border-color: green transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}

.mercurio {
    position: absolute;
    border-style: solid;
    border-color: pink transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}

.tierra {
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbita 36.5s linear infinite;
}

.marte {
    top: 0em;
    left: 0em;
    width: 40em;
    height: 40em;
    animation: orbita 46.5s linear infinite;
}

.venus {
    top: 10em;
    left: 10em;
    width: 20em;
    height: 20em;
    animation: orbita 10.5s linear infinite;
}

.mercurio {
    top: 13.5em;
    left: 13.5em;
    width: 13em;
    height: 13em;
    animation: orbita 4.5s linear infinite;
}

.luna {
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbita 2.7s linear infinite;
}

.tierra::before, .marte::before, .venus::before, .mercurio::before, .luna::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.tierra::before {
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: aqua;
}

.marte::before {
    top: 4.3em;
    right: 4.3em;
    width: 3em;
    height: 3em;
    background-color: red;
}

.venus::before {
    top: 1.8em;
    right: 1.5em;
    width: 3em;
    height: 3em;
    background-color: brown;
}

.mercurio::before {
    top: 0.8em;
    right: 0.5em;
    width: 2em;
    height: 2em;
    background-color: burlywood;
}

.luna::before {
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}

@keyframes orbita {
    to {
        transform: rotate(360deg);
    }
}
